name: tasks_flutter_web
description: A simple Flutter web app to learn calling Go backend APIs
version: 1.0.0
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # State management
  flutter_bloc: ^8.1.3
  equatable: ^2.0.5

  # Networking (like Dio in your Flutter projects)
  dio: ^5.4.0

  # Dependency injection
  get_it: ^7.6.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
